<p id="notice"><%= notice %></p>

<h1>Bdaes</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bdaes.each do |bdae| %>
      <tr>
        <td><%= bdae.firstname %></td>
        <td><%= bdae.lastname %></td>
        <td><%= bdae.date %></td>
        <td><%= link_to 'Show', bdae %></td>
        <td><%= link_to 'Edit', edit_bdae_path(bdae) %></td>
        <td><%= link_to 'Destroy', bdae, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bdae', new_bdae_path %>
